.body {
  text-align: center;
  background-color: grey;
  height: 520px;
}

.formular {
  margin-top: 30px;
  text-align: center;
  height: 520px;
}

button {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
      animation: rainbow 10s ease infinite;
    border-radius: 30px;
@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

width: 50px;
height: 50px;

}

input {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  font-size: 30px;
  margin-bottom: 15px;
}

.alert {
  text-align: center;
  font-size: 50px;
}

.alert2 {
  text-align: center;
  font-size: 50px;
}

.nadpis {
  font-size: 60px;
  padding-bottom: 30px;
}

img {
  width: 100px;
  height: 100px;
}

.a {
  margin: 10px;
  font-size: 20px;
}